{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>Welcome to Better-You</h1>
    <h2>How it works</h2>
    <ul class = "list-group">
    	<li class="list-group-item"><p>Join Better-You by creating an <a href="/projects/better-you/sign-up">account</a></p></li>
    	<li class="list-group-item"><p><a href="/projects/better-you/propose-challenge">Propose</a> new challenges to the Better-You community</p></li>
    	<li class="list-group-item"><p><a href="/projects/better-you/vote-challenges">Vote</a> for other users  proposals for challenges you would like to try</p></li>
    	<li class="list-group-item"><p><a href="/projects/better-you/current-challenges">Compete</a> against other Better-You users to see who can complete the most challenges</p></li>
    	<li class="list-group-item"><p>See how you <a href="/projects/better-you/ranking">rank</a> against other Better-You users</p></li>
    </ul>
</div>
</div>
{% endblock %}