{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    <h1>Welcome to Better-You</h1>
    <h2>How it works</h2>
    <p>Users propose tasks for the community to complete. The community then votes on the tasks proposed by other users. The top voted tasks are selected for this week's Better-You challenges. You then earn points based on the number of challenges you compete.</p>
	<h2>How to join</h2>
	<p>If you're new to Better-You click Signup. If you have an account, click Log in.</p>
	<p><a href="/projects/better-you/sign-up" class="btn btn-lg btn-default">Join</a></p>
</div>
</div>
{% endblock %}