{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>Complete challenges from the Better-You community</h1>
    <h2>The top voted proposals become Better-You challenges. Click the check to complete a challenge. You earn points for each time you complete a challenge anbd click the check box. You also earn points if complete up to the Challenge Limit #</h2>
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center" class="cover-heading">Post Time</th>
            <th style="text-align: center" class="cover-heading">Votes</th>
            <th style="text-align: center" class="cover-heading">Title</th>
            <th style="text-align: center" class="cover-heading">Username</th>
            <th style="text-align: center" class="cover-heading">Challenge Limit #</th>
            <th style="text-align: center" class="cover-heading">You've Completed #</th>
            <th style="text-align: center" class="cover-heading">Complete</th>
        </tr
        </thead>
        <tbody>
            {% for challenge  in object_list %}
            <tr>
                <td class="lead">{{ challenge.postTime }}</td>
                <td id = "vote_count" class="lead" data-vote="{{ challenge.id }}">{{ challenge.votes }}</td>
                <td class="lead">{{ challenge.title }}</td>
                <td class="lead">{{ challenge.user }}</td>
                <td class="lead">{{ challenge.numberChallenges }}</td>
                <td class="lead">{{ challenge.numberChallenges }}</td>
                <td class="lead">
                <button id="likes" data-challengeid="{{challenge.id}}" type="button" class="btn-xs btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-left">
            {% if page_obj.has_previous %}
                <a class="btn btn-lg btn-default" href="/projects/better-you/current-challenges/{{ page_obj.previous_page_number }}/" role="button"> « Previous Page</a>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            {% if page_obj.has_next %}
                <a class="btn btn-lg btn-default" href="/projects/better-you/current-challenges/{{ page_obj.next_page_number }}/" role="button">Next Page »</a>
            {% endif %}       
        </div>
    </div>     
    </div>
</div> 
</div>
{% endblock %}