{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
	<div class="container">
        <h1>Better-You</h1>
        <h2>Goal</h2>
        <p>It's easy to get into a pattern of doing the same things over and over again. Some of these patterns may be healthy like brushing your teeth 3 times per day but some may not like avoiding exercising. Better-You will help you become a healthier, more well-rounded person by challenging you to try new things, break bad habits, and start more new healthy habits.</p>
		<p class="lead">
		    <a href="/projects/better-you/about" class="btn btn-lg btn-default">Learn more</a>
	    </p>
	</div>
</div>
{% endblock %}