{% extends "includes/betterYou_base.html" %}
{% block content %}
{% load staticfiles %}
<div class="jumbotron">
<div class="container">
    <h1>Welcome {{ userProfile.user }}</h2>
    
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src= "" alt="Profile picture" style="width: 30%">
        </div>
        <div class="col-md-6">
                <h2>Points: {{ userProfile.points }}</h2>
                <a class="btn btn-lg btn-default" href="/projects/better-you/ranking" role="button">See how your points compare</a>
        </div>
    </div> 
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <h2>My Recent Challenge Proposals</h2>
                <table style="text-align: center" class="table">
                    <thead>
                    <tr>
                        <th class="cover-heading">Post Time</th>
                        <th class="cover-heading">Title</th>
                    </tr
                    </thead>
                    <tbody>
                        {% for challenge  in my_created_challenges %}
                        <tr>
                            <td class="lead">{{ challenge.postTime }}</td>
                            <td class="lead">{{ challenge.title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col-md-6">
                <h2>My Recent Completed Challenges</h2>
                 <table class="table">
                    <thead>
                    <tr>
                        <th style="text-align: center" class="cover-heading">Post Time</th>
                        <th style="text-align: center" class="cover-heading">Title</th>
                    </tr
                    </thead>
                    <tbody>
                        {% for challenge  in my_completed_challenges %}
                        <tr>
                            <td class="lead">{{ challenge.postTime }}</td>
                            <td class="lead">{{ challenge.title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>           
        </div>
    </div> 
</div>
</div>
{% endblock %}