{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
    {% if accepted %}
        <h4>Your challenge was accepted</h1>
        <a href="/projects/better-you/vote-challenges" class="btn btn-lg btn-default">Vote on other challenges</a>
    {% endif %}
    <h1>Propose a Better-You challenge</h1>
    <h2>Proposals Rules</h2>
    <ul class = "list-group">
        <li class="list-group-item"><p>Proposals can be voted on for 1 week</p></li>
        <li class="list-group-item"><p>Proposals become Challenges when they receive 10 votes</p></li>
        <li class="list-group-item"><p>Refrain from using negative language</p></li>
    </ul
    <form class="form-horizontal" role="form" method = "post" action="/projects/better-you/propose-challenge/">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-4" for="title">Description of the task that needs to be performed.  </label></br>
            <p><font color="black">{{ form.title }}</font></p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="numberChallenges">How many times does the task need to be completed</label></br>
            <p><font color="black">{{ form.numberChallenges }}</font></p>
        </div>  

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-9">    
            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}