{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>See how you rank against other Better-You users</h1>
    <table style="text-align: center" class="table">
        <thead>
        <tr>
            <th class="cover-heading">Post Time</th>
            <th class="cover-heading">Title</th>
        </tr
        </thead>
        <tbody>
            {% for user in user_rankings %}
            <tr>
                <td class="lead">{{ user.user }}</td>
                <td class="lead">{{ user.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
</div>
{% endblock %}