{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>See how you rank against other Better-You users</h1>
    <h2>Better-You points can be earned in two ways.</h2>
    <ul class = "list-group">
        <li class="list-group-item"><p>Other users can vote on your <a href = "/projects/better-you/propose-challenges">Challenge Proposals</a></p></li>
        <li class="list-group-item"><p>You complete a <a href = "/projects/better-you/current-challenges">Current Challenge</a></p></li>    
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th class="cover-heading">Rank</th>
            <th class="cover-heading">Username</th>
            <th class="cover-heading">Points</th>
        </tr
        </thead>
        <tbody>
            {% for user in user_rankings %}
            <tr>
                <td class="lead">{{ forloop.counter }}</td>
                <td class="lead">{{ user.user }}</td>
                <td class="lead">{{ user.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
</div>
{% endblock %}