{% extends "includes/betterYou_base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
    <h1>
        Vote on Next Week's Challenges
    </h1>
    <h3>
        The weekly Better-You challenges are created by users. You can select Propose Challenges to propose a challenge or select Vote Challenges to vote on already existing challenges. 
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center" class="cover-heading">Votes</th>
            <th style="text-align: center" class="cover-heading">Post Time</th>
            <th style="text-align: center" class="cover-heading">Title</th>
            <th style="text-align: center" class="cover-heading">Username</th>
            <th style="text-align: center" class="cover-heading"></th>
        </tr
        </thead>
        <tbody>
            {% for challenge  in object_list %}
            <tr>
                <td id = "vote_count" class="lead" data-vote="{{ challenge.id }}">{{ challenge.votes }}</td>
                <td class="lead">{{ challenge.postTime }}</td>
                <td class="lead">{{ challenge.title }}</td>
                <td class="lead">{{ challenge.user }}</td>
                <td class="lead">
                <button id="likes" data-challengeid="{{challenge.id}}" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up">Like</span>
                </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container-fluid">
        <div clas="row">
        <div class="col-md-6 text-left">
            {% if page_obj.has_previous %}
                <a class="btn btn-lg btn-default" href="/projects/better-you/vote-challenges/{{ page_obj.previous_page_number }}/" role="button"> « Previous Page</a>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            {% if page_obj.has_next %}
                <a class="btn btn-lg btn-default" href="/projects/better-you/vote-challenges/{{ page_obj.next_page_number }}/" role="button">Next Page »</a>
            {% endif %}       

        </div>
        </div>     
    </div>
    </div>
</div> 
{% endblock %}